:root {
    --dark: #122344;
    --darker: #0c1830;
    --primary: #adadad;
    --light1: #d3d3d3;
    --light2: #f1f1f1;
    --success: #0d7e49;
    --warning: #ffae00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--light2);
    padding: 1rem;
}

.btn {
    padding: 0.3rem 1rem;
    cursor: pointer;
    background: var(--dark);
    color: white;
    border: 0;
    font-size: 1rem;
    transition: background-color 50ms ease-in;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--darker);
}

.login-container {
    margin: 5rem auto;
    max-width: 500px;
    border-radius: 10px;
    background-color: var(--light1);
}

.login-header {
    text-align: center;
    padding: 1.5rem;
    background-color: var(--primary);
    border-bottom: 5px solid var(--dark);
    border-radius: 10px 10px 0 0;
    color: var(--dark);
}

.login-main {
    padding: 2rem 3rem; 
}

.login-main label {
    display: block;
    color: var(--dark);
    margin-bottom: 10px;
}

.login-main .form-control {
    margin-bottom: 20px;
}

.login-main input,
.login-main select {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--dark);
}

.login-main .btn {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 2.5rem;
    margin-top: 2rem; 
}

/* chat room */

.room-container {
    margin: 2rem auto;
    min-width: 500px;
    max-width: 1000px;
    border-radius: 2px;
    background-color: var(--light1);
    overflow: hidden;
}

.room-header {
    padding: 1.5rem;
    background-color: var(--primary);
    border-radius: 2px 2px 0 0;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-header a {
    text-decoration: none;
}

.room-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 60vh;
}

.room-sidebar {
    color: var(--dark);
    padding: 1rem;
    overflow-y: scroll;
    max-height: 60vh;
}

.room-sidebar .seperator {
    margin: 1rem 0;
    border-color: var(--primary);
}

.room-sidebar ul li {
    margin: 1rem 1rem;
    list-style-type: none;
}

.room-stream {
    /* background: var(--darker);
    box-shadow: inset 0 0 1rem black; */
    background: white;
    overflow-y: scroll;
    padding: 2rem;
    max-height: 60vh;
}

.room-stream .message-container {
    margin-bottom: 0.5rem;
    overflow: hidden;
    /* border: 1px solid red; */
}

.room-stream .message-container .incoming-message {
    padding: 0.8rem;
    background-color: var(--light2);
    border-radius: 5px;
    width: fit-content;
    max-width: 70%;
    float: left;
}

.room-stream .message-container .outgoing-message {
    padding: 0.8rem;
    background-color: var(--light1);
    border-radius: 5px;
    width: fit-content;
    max-width: 70%;
    float: right;
}

.room-stream .message-container .meta {
    color: var(--dark);
    margin-bottom: 0.6rem;
    font-weight: bold;
}

.room-stream .message-container .meta span {
    font-weight: normal;
    color: var(--success)
}

.room-chat-form-container {
    background-color: var(--primary);
    border-radius: 0 0 2px 2px;
    padding: 1.5rem;
}

.room-chat-form-container form {
    display: flex;
}

.room-chat-form-container input[type='text'] {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    height: 3rem;
    flex: 1;
    border-radius: 1.5rem 0 0 1.5rem;
    border: none;
}

input:focus {
    outline: none;
}
